Repository apollographql/apollo-server, pull requests merged in 2018-09, with the labels that each got.

#1565 Documentation update: Added description and sample code for enabling SSL
  docs/source/best-practices/security.md
  docs/source/essentials/server.md
  docs/source/features/subscriptions.md
Labels: docs

#1602 Add node-fetch extensions typing
  CHANGELOG.md
  packages/apollo-server-env/src/fetch.d.ts
Labels: feature

#1605 Fix typo in performance scaling paragraph
  docs/source/best-practices/performance.md
Labels: docs

#1615 Add toggle for including error messages in reports
  CHANGELOG.md
  docs/source/api/apollo-server.md
  packages/apollo-engine-reporting/src/agent.ts
  packages/apollo-engine-reporting/src/extension.ts
Labels: feature

#1610 Switch ApolloServerBase.schema from private access to protected access.
  CHANGELOG.md
  packages/apollo-server-core/src/ApolloServer.ts
Labels: feature

#1547 Pass the context along to all the extension methods
  CHANGELOG.md
  packages/apollo-engine-reporting/src/extension.ts
  packages/apollo-server-core/src/__tests__/runQuery.test.ts
  packages/apollo-server-core/src/formatters.ts
  packages/apollo-server-core/src/runQuery.ts
  packages/apollo-server-integration-testsuite/src/ApolloServer.ts
  packages/graphql-extensions/src/index.ts
Labels: feature

#1682 Fix example link
  CHANGELOG.md
  docs/source/best-practices/authentication.md
Labels: docs

#1648 Add subscription type example
  docs/source/schemas/types.md
Labels: docs

#1655 Small grammatical fix ("a" as opposed to "an")
  docs/source/api/graphql-tools.md
Labels: docs

#1637 Add express import in middleware apollo-server-express example
  docs/source/api/apollo-server.md
Labels: docs

#1636 Add Non-Nullable type example
  docs/source/schemas/types.md
Labels: docs

#1635 Fix type for a mutation example
  docs/source/schemas/types.md
Labels: docs

#1631 Provide ability to specify client info in traces
  CHANGELOG.md
  docs/source/api/apollo-server.md
  packages/apollo-engine-reporting/src/agent.ts
  packages/apollo-engine-reporting/src/extension.ts
  packages/apollo-server-core/src/runHttpQuery.ts
  packages/apollo-server-core/src/runQuery.ts
  packages/graphql-extensions/src/index.ts
Labels: feature

#1689 Fix header misreporting to engine
  CHANGELOG.md
  package-lock.json
  packages/apollo-engine-reporting/src/extension.ts
Labels: bug

#1674 Updated Google Cloud Function request handler to handle null or undefined req.path
  CHANGELOG.md
  packages/apollo-server-cloud-function/src/ApolloServer.ts
  packages/apollo-server-cloud-function/src/__tests__/googleCloudApollo.test.ts
Labels: feature

#1561 Update schema-stitching.md
  docs/source/features/schema-stitching.md
Labels: docs

#1555 Allow an optional function to resolve the rootValue
  CHANGELOG.md
  docs/source/api/apollo-server.md
  packages/apollo-server-core/src/__tests__/runQuery.test.ts
  packages/apollo-server-core/src/graphqlOptions.ts
  packages/apollo-server-core/src/runQuery.ts
  packages/apollo-server-integration-testsuite/src/index.ts
Labels: feature

#1715 [DOCS] Make schema directive example clearer
  docs/source/features/directives.md
Labels: docs

#1704 Remove CHANGELOG.md note regarding versioning.
  CHANGELOG.md
Labels: docs
