Repository apollographql/apollo-server, pull requests merged in 2018-06, with the labels that each got.

#1122 readme: remove dist names about koa
  README.md
Labels: docs

#1150 Docs: Convert import to requires
  docs/source/features/scalars-enums.md
Labels: docs

#1143 Add BadUserInputError and TransientError as extensions of ApolloError
  docs/source/features/errors.md
  packages/apollo-server-core/CHANGELOG.md
  packages/apollo-server-core/src/errors.test.ts
  packages/apollo-server-core/src/errors.ts
  packages/apollo-server-core/src/index.ts
  packages/apollo-server/src/exports.ts
Labels: feature

#1149 Apollo Server 2:Automatic Persisted Queries + KeyValueCache Interface
  docs/_config.yml
  docs/sketch/APQs.sketch
  docs/source/features/apq.md
  docs/source/img/persistedQueries.newPath.png
  docs/source/img/persistedQueries.optPath.png
  packages/apollo-server-core/CHANGELOG.md
  packages/apollo-server-core/package.json
  packages/apollo-server-core/src/ApolloServer.test.ts
  packages/apollo-server-core/src/ApolloServer.ts
  packages/apollo-server-core/src/caching.ts
  packages/apollo-server-core/src/errors.ts
  packages/apollo-server-core/src/graphqlOptions.ts
  packages/apollo-server-core/src/index.ts
  packages/apollo-server-core/src/runHttpQuery.ts
  packages/apollo-server-core/src/types.ts
  packages/apollo-server-integration-testsuite/package.json
  packages/apollo-server-integration-testsuite/src/index.ts
Labels: feature

#1178 fix typos
  docs/source/features/subscriptions.md
Labels: docs

#1190 Apollo server 2.0 - DatasourceREST - Improve types
  packages/apollo-datasource-rest/src/RESTDataSource.ts
  packages/apollo-datasource-rest/src/__tests__/RESTDataSource.test.ts
Labels: feature

#1138 CDN cache-control headers
  docs/_config.yml
  docs/source/features/cdn.md
  docs/source/migration-engine.md
  packages/apollo-server-cloudflare/src/ApolloServer.ts
  packages/apollo-server-cloudflare/src/cloudflareApollo.ts
  packages/apollo-server-core/package.json
  packages/apollo-server-core/src/ApolloServer.ts
  packages/apollo-server-core/src/caching.ts
  packages/apollo-server-core/src/graphqlOptions.ts
  packages/apollo-server-core/src/index.ts
  packages/apollo-server-core/src/runHttpQuery.ts
  packages/apollo-server-core/src/runQuery.ts
  packages/apollo-server-core/src/types.ts
  packages/apollo-server-errors/src/index.ts
  packages/apollo-server-express/src/ApolloServer.test.ts
  packages/apollo-server-express/src/ApolloServer.ts
  packages/apollo-server-express/src/datasource.test.ts
  packages/apollo-server-express/src/expressApollo.ts
  packages/apollo-server-hapi/src/ApolloServer.ts
  packages/apollo-server-hapi/src/hapiApollo.ts
  packages/apollo-server-integration-testsuite/src/ApolloServer.ts
  packages/apollo-server-integration-testsuite/src/index.ts
  packages/apollo-server/src/index.ts
Labels: feature

#1223 Document Reporting to Engine and Add to migration guide
  docs/_config.yml
  docs/source/features/logging.md
  docs/source/features/metrics.md
  docs/source/migration-two-dot.md
Labels: docs

#1234 AS2: Support APQ for Batches
  packages/apollo-server-core/src/runHttpQuery.ts
  packages/apollo-server-integration-testsuite/src/index.ts
Labels: feature

#1239 docs: fix typo in whats new documentation
  docs/source/whats-new.md
Labels: docs

#1250 Use apollo-server v1 in example relating to v1
  docs/source/example.md
Labels: docs

#1196 Update unions-interfaces.md
  docs/source/features/unions-interfaces.md
Labels: docs

#1242 [docs] fixed datasource examples
  docs/source/features/data-sources.md
Labels: docs

#1254 Added other HTTP methods to DataSource Docs
  docs/source/features/data-sources.md
Labels: docs

#1255 Improve Subscriptions Dev/Docs Experience
  docs/source/features/subscriptions.md
  packages/apollo-server-hapi/src/ApolloServer.ts
  packages/apollo-server/src/index.ts
Labels: docs, feature

#1256 Engine Reporting API and pass Engine API key in constructor
  docs/source/api/apollo-server.md
  docs/source/features/metrics.md
  docs/source/whats-new.md
Labels: docs

#1272 Errors Lifecycle: user extensions > engine reporting > formatError
  packages/apollo-server-core/src/ApolloServer.ts
  packages/apollo-server-core/src/formatters.ts
  packages/apollo-server-core/src/runHttpQuery.ts
  packages/apollo-server-core/src/runQuery.ts
  packages/apollo-server-express/src/apolloServerHttp.test.ts
  packages/apollo-server-hapi/src/ApolloServer.test.ts
  packages/apollo-server-integration-testsuite/package.json
  packages/apollo-server-integration-testsuite/src/ApolloServer.ts
  packages/apollo-server-integration-testsuite/src/index.ts
  packages/graphql-extensions/src/index.ts
Labels: feature

#1263 Further improves subscriptions docs
  docs/source/features/subscriptions.md
Labels: docs
