Repository apollographql/apollo-server, pull requests merged in 2018-07, with the labels that each got.

#1286 [V2 Docs] Related Guides
  docs/_config.yml
Labels: docs

#1288 Removes flattening of Errors inside of formatApolloErrors
  packages/apollo-server-errors/src/index.ts
  packages/apollo-server-integration-testsuite/package.json
  packages/apollo-server-integration-testsuite/src/ApolloServer.ts
Labels: feature

#1270 Add GraphQL Playground Documentation
  docs/_config.yml
  docs/source/features/playground.md
  docs/source/images/playground.png
  docs/source/whats-new.md
Labels: docs

#1318 Hint about Upload scalar when setting schema manually
  docs/source/api/apollo-server.md
Labels: docs

#1313 Enable engine reporting in Lambda
  packages/apollo-engine-reporting/src/agent.ts
  packages/apollo-server-lambda/README.md
  packages/apollo-server-lambda/package.json
  packages/apollo-server-lambda/src/ApolloServer.ts
  packages/apollo-server-lambda/src/lambdaApollo.ts
Labels: feature

#1320 Add CDN and APQ to What's new
  docs/source/whats-new.md
Labels: docs

#1325 Rest data source did recieve response
  packages/apollo-datasource-rest/src/RESTDataSource.ts
Labels: feature

#757 docs: add note about passing context as a function
  docs/source/setup.md
Labels: docs

#1013 feat(fastify): Integrate apollo-fastify plugin #626
  CHANGELOG.md
  README.md
  packages/apollo-server-fastify/.npmignore
  packages/apollo-server-fastify/README.md
  packages/apollo-server-fastify/package.json
  packages/apollo-server-fastify/src/fastifyApollo.test.ts
  packages/apollo-server-fastify/src/fastifyApollo.ts
  packages/apollo-server-fastify/src/index.ts
  packages/apollo-server-fastify/tsconfig.json
  test/tests.js
Labels: feature

#1355 fix: add url for cached response
  packages/apollo-datasource-rest/src/HTTPCache.ts
  packages/apollo-datasource-rest/src/types/http-cache-semantics/index.d.ts
  packages/apollo-server-env/src/fetch.d.ts
Labels: feature

#1367 Lambda: fix cors documentation and default allowed headers
  packages/apollo-server-lambda/README.md
  packages/apollo-server-lambda/src/ApolloServer.ts
Labels: docs, feature

#1369 add version to _config.yml
  docs/_config.yml
Labels: docs

#1375 docs: Fix various links in the Apollo Server 2 documentation.
  docs/source/api/graphql-tools.md
  docs/source/features/data-sources.md
  docs/source/features/metrics.md
  docs/source/migration-engine.md
  docs/source/whats-new.md
Labels: docs

#1377 Docs: Remove all RC references in Apollo Server 2 documentation
  docs/source/essentials/server.md
  docs/source/features/mocking.md
  docs/source/features/schema-delegation.md
  docs/source/getting-started.md
  docs/source/migration-engine.md
  docs/source/migration-two-dot.md
  docs/source/whats-new.md
  docs/source/why-apollo-server.md
Labels: docs

#1389 docs: clarify `typedefs` API
  docs/source/api/apollo-server.md
Labels: docs

#1425 Fixed Wrong Header at unions-interfaces
  docs/source/features/unions-interfaces.md
Labels: docs

#1427 docs: Correct path for GraphQL Playground.
  docs/source/essentials/server.md
Labels: docs
