Repository apollographql/apollo-server, pull requests merged in 2018-04, with the labels that each got.

#919 Tighter context typing for GraphQLServerOptions
  packages/apollo-server-core/src/graphqlOptions.ts
Labels: types

#964 Avoid `TypeError` when querystring is present, but `query` missing
  CHANGELOG.md
  packages/apollo-server-core/src/runHttpQuery.test.ts
  packages/apollo-server-core/src/runHttpQuery.ts
  test/tests.js
Labels: bug

#980 docs: Essentials > Building a schema.
  docs/source/essentials/schema.md
Labels: docs

#986 docs: Essentials / Server (now, with middleware!)
  docs/source/essentials/server.md
Labels: docs

#999 docs: Fix typo in lambda package README
  packages/apollo-server-lambda/README.md
Labels: docs

#987 GraphQL endpoints provide a collocated GUI when accessed by browser
  package.json
  packages/apollo-server-core/src/errors.ts
  packages/apollo-server/package.json
  packages/apollo-server/src/express.ts
  packages/apollo-server/src/index.ts
  packages/apollo-server/src/koa.ts
  packages/apollo-server/src/utils/ApolloServer.ts
  packages/apollo-server/src/utils/exports.ts
  packages/apollo-server/src/utils/launchGui.ts
  packages/apollo-server/src/utils/types.ts
Labels: feature

#997 [Work in Progress] docs: API > `apollo-server`.
  docs/source/api/apollo-server.md
Labels: docs

#1011 docs: Editorial Pass
  docs/source/best-practices/performance.md
  docs/source/best-practices/schema-design.md
  docs/source/best-practices/security.md
  docs/source/essentials/schema.md
Labels: docs

#985 [Work in Progress] docs: essentials > data
  docs/source/essentials/data.md
Labels: docs
