Repository apollographql/apollo-server, pull requests merged in 2020-07, with the labels that each got.

#4313 feat(federation): Use extensions instead of custom `federation` objects
  packages/apollo-federation/CHANGELOG.md
  packages/apollo-federation/package.json
  packages/apollo-federation/src/composition/__tests__/compose.test.ts
  packages/apollo-federation/src/composition/compose.ts
  packages/apollo-federation/src/composition/types.ts
  packages/apollo-federation/src/composition/utils.ts
  packages/apollo-federation/src/composition/validate/postComposition/executableDirectivesIdentical.ts
  packages/apollo-federation/src/composition/validate/postComposition/executableDirectivesInAllServices.ts
  packages/apollo-federation/src/composition/validate/postComposition/externalMissingOnBase.ts
  packages/apollo-federation/src/composition/validate/postComposition/externalTypeMismatch.ts
  packages/apollo-federation/src/composition/validate/postComposition/externalUnused.ts
  packages/apollo-federation/src/composition/validate/postComposition/keyFieldsMissingOnBase.ts
  packages/apollo-federation/src/composition/validate/postComposition/keyFieldsSelectInvalidType.ts
  packages/apollo-federation/src/composition/validate/postComposition/providesFieldsMissingExternal.ts
  packages/apollo-federation/src/composition/validate/postComposition/providesFieldsSelectInvalidType.ts
  packages/apollo-federation/src/composition/validate/postComposition/providesNotOnEntity.ts
  packages/apollo-federation/src/composition/validate/postComposition/requiresFieldsMissingExternal.ts
  packages/apollo-federation/src/composition/validate/postComposition/requiresFieldsMissingOnBase.ts
  packages/apollo-gateway/CHANGELOG.md
  packages/apollo-gateway/package.json
  packages/apollo-gateway/src/buildQueryPlan.ts
Labels: 👩‍🚀 federation

#4311 [apollo-server-lambda] Add support for `isBase64Encoded`
  CHANGELOG.md
  packages/apollo-server-lambda/src/lambdaApollo.ts
Labels: 🖇️ lambda

#4331 Import "Acephei" example application
  examples/acephei/.gitignore
  examples/acephei/README.md
  examples/acephei/gateway.code-workspace
  examples/acephei/gateway/.vscode/launch.json
  examples/acephei/gateway/package.json
  examples/acephei/gateway/src/index.ts
  examples/acephei/gateway/src/plugins/ApolloServerPluginDepthLimiting.ts
  examples/acephei/gateway/src/plugins/ApolloServerPluginReportForbiddenOperation.ts
  examples/acephei/gateway/src/plugins/ApolloServerPluginStrictOperations.ts
  examples/acephei/gateway/tsconfig.json
  examples/acephei/package.json
  examples/acephei/services/accounts/.vscode/launch.json
  examples/acephei/services/accounts/package.json
  examples/acephei/services/accounts/schema.graphql
  examples/acephei/services/accounts/src/data.ts
  examples/acephei/services/accounts/src/index.ts
  examples/acephei/services/accounts/tsconfig.json
  examples/acephei/services/books/.vscode/launch.json
  examples/acephei/services/books/package.json
  examples/acephei/services/books/schema.graphql
  examples/acephei/services/books/src/data.ts
  examples/acephei/services/books/src/index.ts
  examples/acephei/services/books/tsconfig.json
  examples/acephei/services/products/.vscode/launch.json
  examples/acephei/services/products/package.json
  examples/acephei/services/products/schema.graphql
  examples/acephei/services/products/src/data.ts
  examples/acephei/services/products/src/index.ts
  examples/acephei/services/products/tsconfig.json
  examples/acephei/services/reviews/.vscode/launch.json
  examples/acephei/services/reviews/package.json
  examples/acephei/services/reviews/schema.graphql
  examples/acephei/services/reviews/src/data.ts
  examples/acephei/services/reviews/src/index.ts
  examples/acephei/services/reviews/tsconfig.json
  examples/acephei/start.js
  examples/acephei/tsconfig.json
Labels: :memo: documentation

#3895 apollo-server-fastify's context function now receives reply object.
  docs/source/api/apollo-server.md
  packages/apollo-server-fastify/src/ApolloServer.ts
  packages/apollo-server-fastify/src/__tests__/ApolloServer.test.ts
Labels: 🖇️ fastify

#4277 fix(gateway): Prevent inoperable state on initial failure to load configuration
  packages/apollo-gateway/CHANGELOG.md
  packages/apollo-gateway/src/__tests__/gateway/executor.test.ts
  packages/apollo-gateway/src/__tests__/gateway/lifecycle-hooks.test.ts
  packages/apollo-gateway/src/__tests__/integration/networkRequests.test.ts
  packages/apollo-gateway/src/__tests__/integration/nockMocks.ts
  packages/apollo-gateway/src/index.ts
Labels: 👩‍🚀 federation
