Repository apollographql/apollo-server, pull requests merged in 2020-08, with the labels that each got.

#4452 feat(gateway): Include directive definitions in CSDL
  packages/apollo-federation/CHANGELOG.md
  packages/apollo-federation/src/csdlDirectives.ts
  packages/apollo-federation/src/service/__tests__/printComposedSdl.test.ts
  packages/apollo-federation/src/service/printComposedSdl.ts
Labels: 👩‍🚀 federation

#4200 fix(subs): allow additional server variations (e.g., Tls, Http2)
  CHANGELOG.md
  packages/apollo-server-core/src/ApolloServer.ts
  packages/apollo-server-integration-testsuite/src/ApolloServer.ts
Labels: 🔌 websockets, 🧬 subscriptions

#4490 fix(federation): complex `@key`s result in unparseable CSDL
  packages/apollo-federation-integration-testsuite/src/fixtures/accounts.ts
  packages/apollo-federation/CHANGELOG.md
  packages/apollo-federation/src/service/__tests__/printComposedSdl.test.ts
  packages/apollo-federation/src/service/__tests__/printFederatedSchema.test.ts
  packages/apollo-federation/src/service/printComposedSdl.ts
  packages/apollo-gateway/src/__tests__/executeQueryPlan.test.ts
  packages/apollo-gateway/src/__tests__/gateway/reporting.test.ts
  packages/apollo-gateway/src/__tests__/integration/boolean.test.ts
  packages/apollo-gateway/src/__tests__/integration/custom-directives.test.ts
  packages/apollo-gateway/src/__tests__/integration/fragments.test.ts
  packages/apollo-gateway/src/__tests__/integration/provides.test.ts
  packages/apollo-gateway/src/__tests__/integration/variables.test.ts
Labels: :beetle: bug, 👩‍🚀 federation

#4496 fix(federation): Value type validations - unions, scalars, enums
  packages/apollo-federation/CHANGELOG.md
  packages/apollo-federation/src/composition/validate/sdl/__tests__/uniqueTypeNamesWithFields.test.ts
  packages/apollo-federation/src/composition/validate/sdl/uniqueTypeNamesWithFields.ts
Labels: :beetle: bug, 👩‍🚀 federation

#4498 fix(federation): Create new @key validations
  docs/source/federation/errors.md
  packages/apollo-federation/CHANGELOG.md
  packages/apollo-federation/src/composition/composeAndValidate.ts
  packages/apollo-federation/src/composition/validate/postComposition/__tests__/keysMatchBaseService.test.ts
  packages/apollo-federation/src/composition/validate/postComposition/externalUnused.ts
  packages/apollo-federation/src/composition/validate/postComposition/index.ts
  packages/apollo-federation/src/composition/validate/postComposition/keysMatchBaseService.ts
Labels: :beetle: bug, 👩‍🚀 federation

#4489 feat(gateway): CSDL - make `fields` directive args parseable
  packages/apollo-federation/src/service/__tests__/printComposedSdl.test.ts
  packages/apollo-federation/src/service/printComposedSdl.ts
Labels: 👩‍🚀 federation
