Repository apollographql/apollo-server, pull requests merged in 2020-06, with the labels that each got.

#4173 gateway: Add requestContext arg to Experimental_DidResolveQueryPlanCa…
  packages/apollo-gateway/CHANGELOG.md
  packages/apollo-gateway/src/__tests__/gateway/lifecycle-hooks.test.ts
  packages/apollo-gateway/src/index.ts
Labels: 👩‍🚀 federation

#4209 feat(gateway): Strip federation primitives during normalization
  packages/apollo-federation/src/composition/__tests__/normalize.test.ts
  packages/apollo-federation/src/composition/compose.ts
  packages/apollo-federation/src/composition/index.ts
  packages/apollo-federation/src/composition/normalize.ts
  packages/apollo-federation/src/composition/utils.ts
  packages/apollo-federation/src/composition/validate/preComposition/reservedFieldUsed.ts
  packages/apollo-federation/src/composition/validate/preNormalization/rootFieldUsed.ts
Labels: 👩‍🚀 federation

#4230 Remove dependency on graphql-js internal Maybe type
  packages/apollo-federation/CHANGELOG.md
  packages/apollo-federation/src/composition/types.ts
  packages/apollo-federation/src/composition/utils.ts
  packages/apollo-federation/src/composition/validate/sdl/matchingUnions.ts
  packages/apollo-federation/src/composition/validate/sdl/uniqueFieldDefinitionNames.ts
  packages/apollo-federation/src/composition/validate/sdl/uniqueTypeNamesWithFields.ts
Labels: 👩‍🚀 federation

#4228 gateway(feat): Allow complete SDL - follow-up to #4209
  packages/apollo-federation/CHANGELOG.md
  packages/apollo-federation/src/composition/__tests__/compose.test.ts
  packages/apollo-federation/src/composition/__tests__/composeAndValidate.test.ts
  packages/apollo-federation/src/composition/__tests__/normalize.test.ts
  packages/apollo-federation/src/composition/normalize.ts
  packages/apollo-federation/src/composition/utils.ts
Labels: 👩‍🚀 federation

#4274 Release 2.15.0
  CHANGELOG.md
  docs/source/api/apollo-server.md
  packages/apollo-engine-reporting/package.json
  packages/apollo-engine-reporting/src/__tests__/plugin.test.ts
  packages/apollo-engine-reporting/src/agent.ts
  packages/apollo-engine-reporting/src/plugin.ts
  packages/apollo-engine-reporting/src/reportingOperationTypes.ts
  packages/apollo-engine-reporting/src/schemaReporter.ts
  packages/apollo-federation/CHANGELOG.md
  packages/apollo-federation/package.json
  packages/apollo-gateway/CHANGELOG.md
  packages/apollo-gateway/package.json
  packages/apollo-server-azure-functions/package.json
  packages/apollo-server-cloud-functions/package.json
  packages/apollo-server-cloudflare/package.json
  packages/apollo-server-core/package.json
  packages/apollo-server-core/src/ApolloServer.ts
  packages/apollo-server-core/src/graphqlOptions.ts
  packages/apollo-server-core/src/requestPipeline.ts
  packages/apollo-server-core/src/runHttpQuery.ts
  packages/apollo-server-core/src/utils/pluginTestHarness.ts
  packages/apollo-server-express/package.json
  packages/apollo-server-fastify/package.json
  packages/apollo-server-hapi/package.json
  packages/apollo-server-integration-testsuite/package.json
  packages/apollo-server-koa/package.json
  packages/apollo-server-lambda/package.json
  packages/apollo-server-micro/package.json
  packages/apollo-server-plugin-operation-registry/package.json
  packages/apollo-server-testing/package.json
  packages/apollo-server/package.json
Labels: 🏗 release

#4284 fix(gateway): Handle `@external` validation edge case for interface implementors
  packages/apollo-federation/CHANGELOG.md
  packages/apollo-federation/src/composition/validate/postComposition/__tests__/externalUnused.test.ts
  packages/apollo-federation/src/composition/validate/postComposition/externalUnused.ts
Labels: 👩‍🚀 federation

#3383 Follow up on changes to stitching migration doc
  docs/source/federation/migrating-from-stitching.md
Labels: :memo: documentation

#4201 Fix federation Query/Mutation extends documentation
  docs/source/federation/entities.md
Labels: :memo: documentation, 👩‍🚀 federation

#4325 fix(gateway): Don't cache 302 responses from the registry.
  packages/apollo-gateway/CHANGELOG.md
  packages/apollo-gateway/src/cache.ts
Labels: 👩‍🚀 federation

#4297 Update QP tests to use JSON serializer
  package-lock.json
  package.json
  packages/apollo-gateway/src/__tests__/CucumberREADME.md
  packages/apollo-gateway/src/__tests__/build-query-plan.feature
  packages/apollo-gateway/src/__tests__/queryPlanCucumber.test.ts
  packages/apollo-gateway/src/buildQueryPlan.ts
Labels: 👩‍🚀 federation

#4333 Colocate `make-fetch-happen` types within packages
  CHANGELOG.md
  packages/apollo-federation/CHANGELOG.md
  packages/apollo-gateway/src/make-fetch-happen.d.ts
  packages/apollo-server-plugin-operation-registry/src/make-fetch-happen.d.ts
Labels: :beetle: bug, 👩‍🚀 federation, 🧬 typings
